ul, h1, h2, h3, h4, h5 {
  padding: 0;
  margin: 0;
}

.btn-close {
  opacity: 100%;
  padding-right: 2%;
  color: #FEE466 !important;
}

.text-bg-dark {
  background-color: #009179 !important;
}

.navbar-toggler {
  border: transparent;
  padding: 0;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-toggler-icon {
  background-image: none;
  display: inline-block;
  height: auto;
}
.navbar-toggler-icon i {
  color: #FEE466;
  font-size: 20px;
}

.offcanvas {
  width: clamp(250px, 39vw, 399px) !important;
}

.offcanvas-header {
  margin: 10%;
}

.offcanvas-body {
  font-size: clamp(1.3rem, 3.7vw, 1.5rem);
  font-weight: 900;
  margin: 10%;
}
.offcanvas-body li {
  text-align: right;
}
.offcanvas-body li:last-child {
  padding-right: 0px;
}
.offcanvas-body a {
  color: #FEE466 !important;
}
.offcanvas-body a:hover {
  color: #FDB81D !important;
}

.container-fluid, .row {
  margin: 0 !important;
  padding: 0 !important;
}
.container-fluid div, .row div {
  padding: 0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto";
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Party Confetti";
  src: url(../fonts/Party\ Confetti.otf);
}
.subtitle {
  font-family: "Party Confetti";
}

@font-face {
  font-family: "Comica Boom";
  src: url(../fonts/Comica\ Boom.otf);
}
.title {
  font-family: "Comica Boom";
}

.title-color {
  color: #009179;
}

.title-white {
  color: white;
}

.grid-index {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 130px auto;
  grid-template-areas: "vid nav" "vid main";
}

img.logo {
  height: 50px;
  margin: 40px 60px 40px 75px;
  text-align: left;
}

img.logo-index {
  position: absolute;
  right: 90vw;
  height: 50px;
}

.grid-nav {
  grid-area: nav;
  background-color: #009179;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header nav ul {
  display: flex;
  list-style: none;
  gap: 1.5rem;
  padding-right: 75px;
}

.header-rest {
  display: grid !important;
  grid-template-columns: 30vw 70vw;
  grid-template-rows: auto;
  grid-template-areas: "logo navv";
  position: absolute;
  display: inline-block;
  right: 0;
}

.nav-logo {
  grid-area: logo;
  justify-self: start;
}

.nav-big, .nav-small {
  grid-area: navv;
  justify-self: end;
  align-self: center;
}

header nav ul li a {
  text-decoration: none;
  font-size: 1.5rem;
  font-family: Party Confetti;
  color: #FEE466;
}
header nav ul li a:hover {
  color: #FDD405;
}

.grid-vid {
  grid-area: vid;
  background-color: #009179;
  height: 100lvh;
}

.grid-vid video {
  height: 100lvh;
}

.grid-main {
  grid-area: main;
  background-color: #009179;
  color: white;
  display: flex;
}

.grid-main div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

main div img.imagotipo {
  width: 70%;
  max-height: 150px;
}

span {
  display: block;
  padding: 1rem 0 0 0;
}

.p-main {
  padding: 0 90px;
}

.p-small, .nav-small {
  display: none;
}

a.button {
  display: block;
  font-size: 1.5rem;
  color: #009179;
  text-decoration: none;
  display: inline-block;
  background-color: #FEE466;
  padding: 1rem 2rem;
  border-radius: 100px;
  margin: 1rem 0;
}

a.button:hover {
  background-color: #FDD405;
}

a.button:active {
  background-color: #FDB81D;
}

h2.h2-title {
  text-align: center;
  font-family: Comica Boom;
  padding-bottom: 75px;
}

div.cards-popular {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: start;
}

div.card-popular {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  gap: 15px;
  padding: 20px;
}

.p75 {
  padding: 75px;
}

div#popular-options img {
  height: 200px;
}

h3.subtitle-popular {
  font-family: Party Confetti;
  font-size: 1.4rem;
  color: #009179;
}

.p-popular {
  text-align: justify;
  color: #3DAFD2;
  font-weight: bold;
}

div.clients-reviews {
  background-color: #009179;
}

.cards-reviews {
  display: flex;
  justify-content: space-evenly;
}

.fa-star {
  color: #FEE466;
  padding: 5px;
}

.card-review {
  color: white;
  width: 250px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: justify;
  margin: 20px;
}

footer {
  overflow: hidden;
  background-color: #3CBCED;
  height: auto;
  font-size: 1.5rem;
  background-image: url(../logos/logo-footer.svg);
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: left bottom;
}

footer div img.footer {
  width: 120%;
}

footer div img.footer-color-green {
  background-color: #009179;
}

footer div img.footer-color-yellow {
  background-color: #FEE466;
}

footer div img.footer-color-white {
  background-color: white;
}

footer .grid-footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "about ." "info social";
  padding: 75px;
  color: white;
  gap: 50px;
}

footer .grid-footer p {
  grid-area: about;
  /*background-color: blueviolet;*/
  padding-right: 40%;
}

footer .grid-footer ul {
  grid-area: info;
  /*background-color: bisque;*/
  list-style: none;
}

footer .grid-footer ul li a {
  color: white;
}

footer .grid-footer div {
  display: flex;
  grid-area: social;
  /*background-color: chartreuse;*/
  align-items: end;
  justify-content: end;
}

.fa-brands {
  color: white;
  font-size: 2rem;
  padding: 10px;
}

.logo-footer {
  height: 400px;
  position: relative;
  top: -100px;
  display: none;
}

.balloon-service {
  padding-top: 200px;
  background-color: #009179;
  background-image: url(../patterns/balloon-pattern.svg);
  background-size: 400px;
  display: grid;
  height: 90vh;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "hero carousel";
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  gap: 2rem;
}
.balloon-service .hero {
  text-align: left !important;
  grid-area: hero;
}
.balloon-service .hero h1, .balloon-service .hero h2 {
  padding: 1rem 0;
  color: #FEE466;
}
.balloon-service .hero p {
  padding: 1rem 0px 2rem 0;
  font-weight: bold;
  color: white;
  min-width: 400px;
  max-width: 800px;
}
.balloon-service .carousel {
  height: 550px;
  width: 415px;
  border-radius: 100px;
  grid-area: carousel;
}
.balloon-service .carousel-inner {
  height: 550px;
  width: 415px;
  border-radius: 100px;
}

.cards-party-size {
  flex-wrap: wrap;
  scale: 0.9;
}

.card-party-size {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  color: #009179;
  font-weight: bold;
  padding: 1rem;
  text-align: justify;
}
.card-party-size img {
  height: 250px;
  padding: 1rem 0;
}
.card-party-size h3 {
  padding: 1rem 0;
}
.card-party-size p {
  padding: 1rem 0;
}

.grid-creations {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(8, auto);
  grid-template-areas: "img1 img3 img3" "img2 img3 img3" "img4 img4 img5" "img4 img4 img6" "img7 img7 img8" "img7 img7 img9" "img10 img10 img11" "img10 img10 img12";
  gap: 1rem;
  overflow: hidden;
}
.grid-creations .img1 {
  grid-area: img1;
  width: 100%;
  overflow: hidden;
  border-radius: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}
.grid-creations .img2 {
  grid-area: img2;
  width: 100%;
  overflow: hidden;
  border-radius: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}
.grid-creations .img3 {
  grid-area: img3;
  width: 100%;
  overflow: hidden;
  border-radius: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}
.grid-creations .img4 {
  grid-area: img4;
  width: 100%;
  overflow: hidden;
  border-radius: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}
.grid-creations .img5 {
  grid-area: img5;
  width: 100%;
  overflow: hidden;
  border-radius: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}
.grid-creations .img6 {
  grid-area: img6;
  width: 100%;
  overflow: hidden;
  border-radius: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}
.grid-creations .img7 {
  grid-area: img7;
  width: 100%;
  overflow: hidden;
  border-radius: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}
.grid-creations .img8 {
  grid-area: img8;
  width: 100%;
  overflow: hidden;
  border-radius: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}
.grid-creations .img9 {
  grid-area: img9;
  width: 100%;
  overflow: hidden;
  border-radius: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}
.grid-creations .img10 {
  grid-area: img10;
  width: 100%;
  overflow: hidden;
  border-radius: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}
.grid-creations .img11 {
  grid-area: img11;
  width: 100%;
  overflow: hidden;
  border-radius: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}
.grid-creations .img12 {
  grid-area: img12;
  width: 100%;
  overflow: hidden;
  border-radius: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}

.services-list {
  background-color: #009179;
  height: 50vh;
  text-align: center;
  padding: 10rem 75px 75px 75px;
}

.services-cards {
  position: relative;
  top: -12.5vh;
  text-align: center;
}
.services-cards ul {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.services-cards ul li {
  list-style: none;
}
.services-cards ul li h2 {
  font-size: 3rem;
}

.service-card-balloons {
  background-color: #009179;
}

.service-card-magicians {
  background-color: #550091;
}
.service-card-magicians a {
  color: #550091;
}

.service-card-paint {
  background-color: #910050;
}
.service-card-paint a {
  color: #910050;
}

.service-card-foam {
  background-color: #00ADB2;
}
.service-card-foam a {
  color: #00ADB2;
}

.service-card-caricature {
  background-color: #CE5600;
}
.service-card-caricature a {
  color: #CE5600;
}

.service-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  width: 800px;
  grid-template-areas: "info img";
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.308) 5px 5px 10px;
  color: white;
  text-align: left;
}
.service-card .service-info {
  grid-area: info;
  padding: 2rem 0 0 2rem;
}
.service-card .service-img {
  grid-area: img;
}
.service-card .service-img img {
  border-radius: 300px 50px 50px 0px;
  width: 100%;
  height: 100%;
}

@media only screen and (min-aspect-ratio: 0.3) and (max-aspect-ratio: 4/3) {
  .header-rest {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
  }
  #popular-options {
    display: block;
    background-color: white;
  }
  .cards-popular {
    display: flex;
    flex-wrap: wrap;
  }
  .card-popular {
    padding: 20px 0;
  }
  .cards-reviews {
    flex-wrap: wrap;
  }
  .card-review {
    padding: 20px 0;
  }
  .nav-big {
    display: none;
  }
  .nav-small {
    display: block;
    color: white;
    font-size: 1.5rem;
  }
  .grid-index {
    display: block;
    background: linear-gradient(transparent, #009179);
    height: auto;
  }
  .grid-vid {
    height: auto;
  }
  .grid-vid video {
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
    z-index: -2;
  }
  .grid-nav {
    background-color: transparent;
    padding: 50px;
  }
  .grid-main {
    background-color: transparent;
    padding: 50px;
    text-align: center;
    margin-top: 200px;
    display: flex;
    justify-content: center;
  }
  .grid-main div p, .grid-main div a {
    display: none;
  }
  .grid-main img {
    height: 50%;
    margin-bottom: 50px;
  }
  img.logo-index {
    position: absolute;
    left: 50px;
  }
  p.p-main {
    padding: 0;
  }
  .p-small {
    display: flex;
    background-color: #009179;
    padding: 50px;
    color: white;
    flex-direction: column;
    align-items: center;
  }
  footer {
    font-size: 1rem;
  }
  div.grid-footer {
    grid-template-areas: "about about" "info social";
  }
}
@media only screen and (min-aspect-ratio: 0.3) and (max-aspect-ratio: 4/3) and (max-width: 564px) {
  div.grid-footer {
    display: flex;
    flex-direction: column;
  }
  div.grid-footer p {
    padding: 0;
  }
}
@media only screen and (min-aspect-ratio: 0.3) and (max-aspect-ratio: 4/3) {
  .balloon-service {
    display: block;
    height: auto;
  }
  .balloon-service .hero {
    scale: 0.8;
  }
  .balloon-service .carousel {
    width: 70vw;
    height: auto;
    border-radius: 100px;
  }
  .balloon-service .carousel-inner {
    width: 70vw;
    height: auto;
    border-radius: 100px;
  }
  .grid-creations {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, auto);
    grid-template-areas: "img1 img2" "img3 img4" "img5 img6" "img7 img8" "img9 img10" "img11 img12";
  }
}
@media only screen and (min-aspect-ratio: 0.3) and (max-aspect-ratio: 4/3) and (max-width: 680px) {
  .services-cards {
    scale: 50%;
    margin: -450px 0;
  }
}
@media only screen and (min-aspect-ratio: 0.3) and (max-aspect-ratio: 4/3) and (min-width: 681px) and (max-width: 970px) {
  .services-cards {
    scale: 70%;
    margin: -250px 0;
  }
}/*# sourceMappingURL=estilos.css.map */