@import "custom-values.scss";



ul, h1, h2, h3, h4, h5{
    padding: 0;
    margin: 0;
}

.btn-close{
    opacity: 100%;
    padding-right: 2%;
    color: #FEE466 !important;
}
.text-bg-dark{
    background-color: $green1 !important;
}
.navbar-toggler{
    border: transparent;
    padding: 0;
}
.navbar-toggler:focus{
    box-shadow: none;
}
.navbar-toggler-icon{
    background-image: none;
    display: inline-block;
    height: auto;

    i{
        color: $yellow1;
        font-size: 20px;
    }
}
.offcanvas{
    width: clamp(250px, 39vw, 399px) !important;
}

.offcanvas-header{
    margin: 10%;
}

.offcanvas-body{
    font-size: clamp(1.3rem, 3.7vw, 1.5rem);
    font-weight: 900;
    margin: 10%;
    //width: fill;

    li{
        text-align: right;
        //padding-right: 2%;
        //background-color: #3cbced;
    }

    li:last-child{
        padding-right: 0px;
        //background-color: red;
    }

    a{
        color: $yellow1 !important;
    }

    a:hover{
        color:$yellow3 !important;
    }
}

.container-fluid, .row{
    margin: 0 !important;
    padding: 0 !important;

    div{
        padding: 0;
    }

}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    scroll-behavior: smooth;
}


@font-face {
    font-family: 'Party Confetti';
    src: url(../fonts/Party\ Confetti.otf);
}

.subtitle{
    font-family: 'Party Confetti';
}

@font-face {
    font-family: 'Comica Boom';
    src: url(../fonts/Comica\ Boom.otf);
}

.title{
    font-family: 'Comica Boom';
}

.title-color, .title-green{
    color: $green1;
}

.title-white{
    color: $white;
}

.title-yellow{
    color: $yellow1;
}

.body-white{
    color: white;
    font-weight: bold;
}




.grid-index{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 130px auto;
    grid-template-areas: 
    "vid nav"
    "vid main";
}


img.logo{
    height: 50px;
    margin: 40px 60px 40px 75px;
    text-align: left;
}

img.logo-index{
    position: absolute;
    right: 90vw;
    height: 50px;
}

.grid-nav{
    grid-area: nav;
    background-color: $green1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header nav ul{
    display: flex;
    list-style: none;
    gap: 1.5rem;
    padding-right: 75px;
}

.header-rest{
    //background-color: $green1;
    display: grid !important;
    grid-template-columns: 30vw 70vw;
    grid-template-rows: auto;
    grid-template-areas: "logo navv";
    //padding-left: 75px !important;
    position: absolute;
    display: inline-block;
    right: 0;
}

.nav-logo{
    grid-area: logo;
    justify-self: start;
}
.nav-big, .nav-small{
    grid-area: navv;
    justify-self: end;
    align-self: center;
    //padding-right: 2rem;
}

header nav ul li{

    a{
        text-decoration: none;
        font-size: 1.5rem;
        font-family: Party Confetti;
        color: $yellow1;
    }

    a:hover{
        color: #FDD405;
    }
}

.grid-vid{
    grid-area: vid;
    background-color: $green1;
    height: 100lvh;
}

.grid-vid video{
    height: 100lvh;
}

.grid-main{
    grid-area: main;
    background-color: $green1;
    color: $white;
    display: flex;
}

.grid-main div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

main div img.imagotipo{
    width: 70%;
    max-height: 150px;
}

span{
    display: block;
    padding: 1rem 0 0 0;
}

.p-main{
    padding: 0 90px;
}

.p-small, .nav-small{
    display:none;
}

a.button{
    display: block;
    font-size: 1.5rem;
    color: $green1;
    text-decoration: none;
    display: inline-block;
    background-color: $yellow1;
    padding: 1rem 2rem;
    border-radius: 100px;
    margin: 1rem 0;
}

a.button:hover{
    background-color: #FDD405;
}

a.button:active{
    background-color: #FDB81D;
}


h2.h2-title{
    text-align: center;
    font-family: Comica Boom;
    padding-bottom: 75px;
}

div.cards-popular{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: start;

}

div.card-popular{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    gap: 15px;
    padding: 20px;
}

.p75{
    padding: 75px;
}

div#popular-options img{
    height: 200px;
}

h3.subtitle-popular{
    font-family: Party Confetti;
    font-size: 1.4rem;
    color: $green1;
}

.p-popular{
    text-align: justify;
    color: $blue2;
    font-weight: bold;
}


div.clients-reviews{
    background-color: $green1;
}

.cards-reviews{
    display: flex;
    justify-content: space-evenly;
    
}

.fa-star{
    color: $yellow1;
    padding: 5px;
}
.card-review{
    color: white;
    width: 250px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: justify;
    margin: 20px;
}

footer{
    overflow: hidden;
    background-color: $blue1;
    height: auto;
    font-size: 1.5rem;
    background-image: url(../logos/logo-footer.svg);
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: left bottom;


}
footer div img.footer{
    width: 120%;
}

footer div img.footer-color-green{
    background-color: $green1;
}

footer div img.footer-color-yellow{
    background-color: $yellow1;
}

footer div img.footer-color-white{
    background-color: $white;
}

footer .grid-footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "about ."
    "info social";
    padding: 75px;
    color: $white;
    gap: 50px;
}

footer .grid-footer p{
    grid-area: about;
    /*background-color: blueviolet;*/
    padding-right: 40%;
}

footer .grid-footer ul{
    grid-area: info;
    /*background-color: bisque;*/
    list-style: none;
}

footer .grid-footer ul li a{
    color: $white;
}

footer .grid-footer div{
    display: flex;
    grid-area: social;
    /*background-color: chartreuse;*/
    align-items: end;
    justify-content: end;
}

.fa-brands{
    color: $white;
    font-size: 2rem;
    padding: 10px;
}

.logo-footer{
    height: 400px;
    position: relative;
    top: -100px;
    display: none;
}


// BALLOONS PAGE

.balloon-service{
    padding-top: 200px;
    background-color: $green1;
    background-image: url(../patterns/balloon-pattern.svg);
    background-size: 400px;
    display: grid;
    height: 90vh;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "hero carousel";
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    gap: 2rem;

    .hero{
        text-align: left !important;
        grid-area: hero;

        h1, h2{
            padding: 1rem 0;
            color: $yellow1;
        }

        p{
            padding: 1rem 0px 2rem 0;
            font-weight: bold;
            color: $white;
            min-width: 400px;
            max-width: 800px;


        }
    }

    .carousel{
        height: 550px;
        width: 415px;
        border-radius: 100px;
        grid-area: carousel;

    }

    .carousel-inner{
        height: 550px;
        width: 415px;
        border-radius: 100px;
    }

}

.cards-party-size{
    flex-wrap: wrap;
    scale: 0.9;
}

.card-party-size{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    color: $green1;
    font-weight: bold;
    padding: 1rem;
    text-align: justify;

    img{
        height: 250px;
        padding: 1rem 0;
    }

    h3{
        padding: 1rem 0;
    }

    p{
        padding: 1rem 0;
    }
}

.grid-creations{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(8, auto) ;
    grid-template-areas: 
    "img1 img3 img3"
    "img2 img3 img3"
    "img4 img4 img5"
    "img4 img4 img6"
    "img7 img7 img8"
    "img7 img7 img9"
    "img10 img10 img11"
    "img10 img10 img12";
    gap: 1rem;
    overflow: hidden;

    @for $i from 1 through 12{
        .img#{$i}{
            grid-area: img#{$i};
            width: 100%;
            overflow: hidden;
            border-radius: 50px;
            object-fit: cover;
        }
    }
}


//SERVICES PAGE

.services-list{
    background-color: $green1;
    height: 50vh;
    @include h1-position();

}

.services-cards{

    position: relative;
    top: -12.5vh;
    text-align: center;

    ul{
        display: flex;
        flex-direction: column;
        gap: 3rem;

        li{
            list-style: none;
        }

        li h2{
            font-size: 3rem;
        }
    }
}



.service-card-balloons{
    background-color: $green1;
}

.service-card-magicians{
    background-color: $purple;

    a{
        color: $purple;
    }
}

.service-card-paint{
    background-color: $garnet;

    a{
        color: $garnet;
    }
}

.service-card-foam{
    background-color: $cyan;

    a{
        color: $cyan;
    }
}

.service-card-caricature{
    background-color: $orange;

    a{
        color: $orange;
    }
}

.service-card{
    //margin-bottom: 2rem;
    //padding-bottom: 150px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    width: 800px;
    grid-template-areas: "info img";
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.308) 5px 5px 10px;
    color: $white;
    text-align: left;

    .service-info{
        grid-area: info;
        padding: 2rem 0 0 2rem;
    }
    .service-img{
        grid-area: img;


        img{
            border-radius: 300px 50px 50px 0px;
            object-fit: cover;
            left: -5px;
            width: 100%;
            height: 100%;

        }

        img.caricature{
            object-fit: fill;
        }
    }
}


//ABOUT US PAGE



main.about-us{
    background-color: $green1;

    h1{
        @include h1-position();
    }

    div.about-brian{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;

        .brian-bio{
            width: 40%;
            min-width: 330px;
            h2, h3, p{
                padding-bottom: 1rem;
            }
        }


        .brian-image{
            height: 500px;
            width: 400px;
            border-radius: 10%;
            background-size: cover;
            background-image: url(../images/Brian-Styles-St.-Louis-Balloon-Artist.webp);
        }
    }

    h2.div-title{
        text-align: center;
        max-width: 995px;
        margin: 100px auto;
    }

    div.about-premier{

        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;

        .premier-bio{
            width: 40%;
            min-width: 330px;

            h2, h3, p{
                padding-bottom: 1rem;
            }
        }
        
        .premier-image{
            height: 500px;
            width: 400px;
            border-radius: 10%;
            background-size: cover;
            background-image: url(../images/underwater-balloons.webp)
        }
    }
}

div.FAQ{
    h2.FAQ{
        text-align: center;
        padding: 5rem;
    }

    div#accordionExample{
        margin: 0 5rem 5rem 5rem;

        button{
            font-size: 1.3rem;
            font-family: Party Confetti;
        }

        .accordion-item{
            margin-bottom: 2rem;
            border: none !important;
            background-color: $yellow1 !important;

        }

        .accordion-button{
            background-color: $yellow1 !important;
        }


        .accordion-button:not(.collapsed), .accordion-button:focus{
            box-shadow: none;
            color: $green1;
        }
    }
}

//GET IN TOUCH

.header-fill{
    background-color: $green1;
    height: 10rem;
}

.center{
    text-align: center;
}

.get-in-touch h1 a{
    color: $black;
    text-decoration: none;
    font-family: Comica Boom;
}

.forms-guide{
    padding: 3rem;
    width: 40%;
    min-width: 570px;
    border: $yellow3 solid 10px;
    border-radius: 45px;
    margin: 0 auto;
    margin-top: 3rem;

    div{
        color: $green1;
        font-size: 2rem;
        text-align: center;
        font-family: Comica Boom;

    }
    p{
        margin-top: 50px;
        font-weight: bold;
        a{
            color: $green1;
            font-family: Comica Boom;
        }
    }
}

.form{
    width: 50%;
    min-width: 700px;
    background-color: $green1;
    margin: 0 auto;
    text-align: center;
    color: white;
    height: auto;
    margin-top: 5rem;
    padding: 2.5rem;
    border-radius: 2.5rem;
}

span.span-forms{
    display: inline !important;
    color: $yellow1 !important;
}

.event-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 1.5rem;
    border-radius: 8px;
  
    .form-group {
      margin-bottom: 1.5rem;

      textarea#more-info{
        width: 100%;
        min-height: 175px;
      }
  
      label {
        display: block;
        font-weight: bold;
        text-align: left;
        margin-bottom: 0.5rem;
      }
  
      input,
      select {
        width: 100%;
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }
    }
  
    // Grupo para nombre (first name y last name)
    .name-group {
      .name-inputs {
        display: flex;
        gap: 1rem;
  
        input {
          flex: 1;
        }
      }
    }
  
    // Grupo para fecha y hora
    .event-date-time-group {
      .date-time-inputs {
        display: flex;
        gap: 1rem;
  
        input {
          flex: 1;
        }
      }
    }
  
    // Grupo para ubicación
    .location-group {
      input {
        margin-bottom: 0.5rem;
      }
  
      .city-state-zip {
        display: flex;
        gap: 1rem;
  
        input,
        select {
          flex: 1;
        }
      }
    }
  
    // Grupo para servicios (checkboxes)
    .services-group {
      .services-options {
  
        .checkbox-group {
            display: flex;
            justify-content: start;
            align-content: center;
  
          input[type="checkbox"] {
            width: auto;
          }
          label{
            display: inline;
            margin: 0;
            padding-left: 0.3rem;
          }
        }
      }
    }
  
    button[type="submit"] {
    
        display: block;
        font-size: 1.5rem;
        color: $green1;
        text-decoration: none;
        display: inline-block;
        background-color: $yellow1;
        padding: 1rem 2rem;
        border-radius: 100px;
        margin: 1rem 0;
        font-family: Party Confetti;
        border: none;
  
      &:hover {
        background-color: $yellow3;
      }
    }
  }

  .order-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 1.5rem;
    border-radius: 8px;

  
    .form-group {
      margin-bottom: 1.5rem;
  
      label {
        display: block;
        font-weight: bold;
        margin-bottom: 0.5rem;
        text-align: left;

      }
  
      input,
      select,
      textarea {
        width: 100%;
        padding: 0.5rem;
      }
    }
  
    // Grupo para el nombre (First name & Last name)
    .name-group {
      .name-inputs {
        display: flex;
        gap: 1rem;
  
        input {
          flex: 1;
        }
      }
    }
  
    // Grupo para la ubicación de entrega
    .delivery-location-group {
      input {
        margin-bottom: 0.5rem;
      }
      .city-state-zip {
        display: flex;
        gap: 1rem;
  
        input,
        select {
          flex: 1;
        }
      }

    }
  
    // Grupo para opciones de pedido (checkboxes)
    .order-group {
      .order-options {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
  
        .checkbox-group {
            display: flex;
            justify-content: start;
            align-content: center;
  
          input[type="checkbox"] {
            width: auto;
          }
          label{
            display: inline;
            margin: 0;
            padding-left: 0.3rem;
          }
        }
      }
    }
  
    // Grupo para el método de pago (radio)
    .payment-group {
      .radio-group {
        display: flex;
        justify-content: start;
        align-content: center;
  
        input[type="radio"] {
            width: auto;
          }
          label{
            display: inline;
            margin: 0;
            padding-left: 0.3rem;
          }
      }
    }

    .confirm-group{
        .checkbox-group{
                display: flex;
                justify-content: start;
                align-content: center;
      
              input[type="checkbox"] {
                width: auto;
              }
              label{
                display: inline;
                margin: 0;
                padding-left: 0.3rem;
              }
            
        }
    }

    button[type="submit"] {
    
        display: block;
        font-size: 1.5rem;
        color: $green1;
        text-decoration: none;
        display: inline-block;
        background-color: $yellow1;
        padding: 1rem 2rem;
        border-radius: 100px;
        margin: 1rem 0;
        font-family: Party Confetti;
        border: none;
  
      &:hover {
        background-color: $yellow3;
      }
    }

  }
  

@media only screen and (min-aspect-ratio: 0.3) and (max-aspect-ratio:4/3){

    .p75{
        padding: 45px;
    }

    .header-rest{
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
    }

    #popular-options{
        display: block;
        background-color: $white;
    }

    .cards-popular{
        display: flex;
        flex-wrap: wrap;
    }

    .card-popular{
        padding: 20px 0;
    }

    .cards-reviews{
        flex-wrap: wrap;
    }

    .card-review{
        padding: 20px 0;
    }

    .nav-big{
        display: none;
    }

    .nav-small{
        display: block;
        color: $white;
        font-size: 1.5rem;
    }

    .grid-index{
        display: block;
        background: linear-gradient(transparent, $green1);
        height: auto;
    }


    .grid-vid{
        height: auto;
    }

    .grid-vid video{
        position: absolute;
        top: 0;
        left: 0;
        height: auto;
        width: 100%;
        z-index: -2;
    }

    .grid-nav{
        background-color: transparent;
        padding: 50px;
    }

    .grid-main{
        background-color: transparent;
        padding: 50px;
        text-align: center;
        margin-top: 200px;
        display: flex;
        justify-content: center;
        
    }

    .grid-main div p, .grid-main div a {
        display: none;

    }

    .grid-main img{
        height: 50%;
        margin-bottom: 50px;
    }

    img.logo-index{
        position: absolute;
        left: 50px;
    }


    p.p-main{
        padding: 0;
    }
    
    .p-small{
        display: flex;
        background-color: $green1;
        padding: 50px;
        color: $white;
        flex-direction: column;
        align-items: center;

    }


    footer{
        font-size: 1rem;
    }

    div.grid-footer{
        grid-template-areas: 
        "about about"
        "info social";
    }


    @media screen and (max-width: 564px) {
        div.grid-footer{
            display: flex;
            flex-direction: column;
        }

        div.grid-footer p{
            padding: 0;
        }
    }

    .balloon-service{
        display: block;
        height: auto;

        .hero{
            scale: 0.8;
        }

        .carousel{
            width: 70vw;
            height: auto;
            border-radius: 100px;
    
        }
    
        .carousel-inner{
            width: 70vw;
            height: auto;
            border-radius: 100px;
        }

    }

    .grid-creations{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(6, auto) ;
        grid-template-areas: 
        "img1 img2"
        "img3 img4"
        "img5 img6"
        "img7 img8"
        "img9 img10"
        "img11 img12";
    }


    @media screen and (max-width: 680px){
        .services-cards{
            scale: 40%;
            margin: -875px 0;

            p{
                font-size: 1.6rem;
            }

            a{
                margin-bottom: 50px;
            }
        }
    }

    @media screen and (min-width:681px) and (max-width: 970px){
        .services-cards{
            scale: 70%;
            margin: -250px 0;
        }
    }
       
    
    main.about-us{

        div.about-brian{

            .brian-bio{
                width: 80%;
                min-width: 20px;
            }
    
            .brian-image{
                height: 500px*0.7;
                width: 400px*0.7;
                border-radius: 10%;
            }
        }

    
        div.about-premier{
    
            .premier-bio{
                width: 80%;
                min-width: 20px;
    

            }
            
            .premier-image{
                margin-bottom: 5rem;
                height: 500px*0.7;
                width: 400px*0.7;
                border-radius: 10%;

            }
        }
    }


    .form{
        width: 100%;
        min-width: 250px;
        background-color: $green1;

    }

    .forms-guide{
        padding: 1.5rem;
        width: 60%;
        min-width: 235px;
        border: $yellow3 solid 10px;
        border-radius: 22.5px;
        margin: 0 auto;
        margin-top: 1.5rem;
        font-size: small;
    }

    .event-form {
        .name-group {
          .name-inputs {
            flex-direction: column;
            gap: 0.5rem;
          }
        }
        .event-date-time-group {
          .date-time-inputs {
            flex-direction: column;
            gap: 0.5rem;
          }
        }
        .location-group {
          .city-state-zip {
            flex-direction: column;
            gap: 0.5rem;
          }
        }
      }

      .order-form {
        .name-group {
          .name-inputs {
            flex-direction: column;
            gap: 0.5rem;
          }
        }
        .delivery-location-group {
          .city-state-zip {
            flex-direction: column;
            gap: 0.5rem;
          }
        }
      }
    
}


